<main class="main" id="main">
    <section>
        <div class="row g-3">
            <div class="col-lg-6">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Add Couppen</h5>

                        <!-- General Form Elements -->
                        <form action="/admin/addCouppen" method="post">
                            <div class="row mb-3">
                                <label for="inputText" class="form-label">Couppen Code</label>
                                <div class="col-sm-10">
                                    <input type="text" name="CouppenCode" class="form-control" onkeyup="validatecode()" id="contact-coupon">
                                    
                                </div>
                                <span id="Code-error" class="text text-danger"></span>
                            </div>
                            <div class="row mb-3">
                                <label for="inputText" class="form-label">Couppen
                                    %</label>
                                <div class="col-sm-10">
                                    <input type="number" name="CouppenP" class="form-control"  id="contact-Percentage" onkeyup="validatepacentage()">
                                </div>
                                <span class="text text-danger" id="Percentage-err"></span>
                            </div>

                            <div class="row mb-3">

                                <div class="col-sm-10">
                                    <button type="submit" class="btn btn-success"
                                        onclick="return validateform()">Submit</button>
                                </div>
                            </div>
                        </form><!-- End General Form Elements -->
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>



<script>

    var codeError = document.getElementById('Code-error')
    var PercentageError = document.getElementById('Percentage-err')

    function validatecode() {
        let code = document.getElementById('contact-coupon').value
        if (code.length == "" || code.length == 0) {
            codeError.innerHTML = 'coupon code is required';
            return false
        }
        else {
            codeError.innerHTML = ''
            return true
        }
    }
    function validatepacentage() {
        let p = document.getElementById('contact-Percentage').value
        if (p.length == "" || p.length == 0) {
            PercentageError.innerHTML = 'Percentage is required';
            return false
        }
        if (phone.length !== 10) {
            PercentageError.innerHTML = 'Phone shold be 10 digits'
            return false
        }
        else {
            PercentageError.innerHTML = ''
            return true
        }
    }


</script>
<script>
    function validateform() {
        if (validatecode() && validatepacentage()) {
            return true
        } else {
            validatecode()
            validatepacentage()
            return false
        }
    }
</script>