<main class="main" id="main">

   <section>
<h2>User Detils</h2>
    <div class="card  m-4">
        <div class="row">
            <div class="card-body d-md-flex">
                <div class="col-md-4">
                   <span class="fw-bold">Id</span> : <span class="text-danger">{{this.user._id}}</span><br>
                    <span class="fw-bold">Name</span> : <span class="text-danger">{{this.user.Name}}</span><br>
                    <span class="fw-bold">Email</span> : <span class="text-danger">{{this.user.Email}}</span><br>
                    <span class="fw-bold">Phone</span> : <span class="text-danger">{{this.user.Phone}}</span>

                </div>
            </div>
        </div>
    </div>


</section>
</main>






