<main class="main">
    <section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex align-items-center justify-content-center h-100">
            <div class="col-md-8 col-lg-7 col-xl-6">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
                    class="img-fluid" alt="Phone image">
            </div>
            {{#if loginErr}}
        <p class="error text-danger">Invalid user name or password</p>
        {{/if}}
           
            <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
                 <div><h1 class=" otp fw-bold text-center">OTP LOGIN</h1></div><br>
                <form action="/sendcode" method="post">
                    <!-- Name input -->
                    <div class="form-outline mb-4">
            <input type="tel"  id="contact-phone" onkeyup="validatePhone()"  name="phonenumber" class="form-control form-control-lg" />
            <label class="form-label" for="form1Example13" >Phone number</label>
          </div>
                  
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
                    {{!-- <a type="submit" class="btn btn-primary btn-lg btn-block">Register</a> --}}
                </form>
            </div>
        </div>
    </div>
</section>
</main>